ul
{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding: 200px, 200px;
	overflow: hidden;
	background-color: bisque;
	width: 89%;
	height: 50px;
	font-family: cambria;
}

li
{
	float: left;
}

li a 
{
	display: block;
	color: black;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

li a:hover
{
	background-color: #F6CD82;
}

h2
{
	font-family: cambria;
	text-align: center;
}

h3
{
	font-family: cambria;
	text-align: center;
}

p
{
	font-family: calibri;
	text-align: center;
	font-size: 17px;
}

.container
{
	width: 80%;
	margin: 0 auto;
}

.gallery 
{
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 300px;
}

.gallery img 
{
	width: 100%;
	height: auto;
}

.desc 
{
	padding: 15px;
	text-align: center;
}
